################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Demo.Api/bin/Debug/net10.0
/src/Demo.Api/obj
/src/Demo.Business/bin/Debug/net10.0
/src/Demo.Business/obj
/src/Demo.Client/obj
/src/Demo.Infrastructure.SqlStorage/bin/Debug/net10.0
/src/Demo.Infrastructure.SqlStorage/obj
/src/Demo.gRPCClient/bin/Debug/net10.0
/src/Demo.gRPCClient/obj
/src/Demo.gRPCServer/bin/Debug/net10.0
/src/Demo.gRPCServer/obj
